# Dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts

# Builds
build/
dist/

# Misc
.DS_Store
*.pem
*.log

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Testing
coverage/
